.uno{
  
    position: fixed;
    width: 100%;    
    border: 2px;    
    border-style: solid;
    border-color: coral;
    z-index: 100;
      }

.contenedor {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows:  auto auto auto;
}
.btn-outline-success{
    background-color: coral;
  }
  
  .boton{
  border-color: coral;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  
  }
  #cabecera{
  width: 100%;
  max-height: 100px;
  
  }

.titulo {
    color: brown;
    text-align: center;
}

#buscar{
    border-style: solid;
    border-width: 1px;
    border-color: coral;
  }
  #buscar:hover{
    background-color: coral;
  }
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    
  }
  #cuerpo{
    margin-top: 118px;
    min-height: 800px;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    overflow: auto;
    scroll-margin-bottom: hidden;
  }

  .grid {
    display: flex;
    flex-direction: row;
    
  }
  .detail-pokemon {
    width: 45%;
  }

  .list-pokemon {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
      gap: 15px;
      
      
  }

  .list-pokemon_item {
    font-size: 1.5rem;
    padding: 20px;
    background-color: beige;
    min-width: 130px;
	text-align: center;
  }
  .pokemon_item {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-left: 15px;
    padding: 20px;
    background-color: beige;
    min-width: 130px;
	text-align: center;
  }
  